:root{

    /* Sizing */
    --top-container-h: 60px;
    --side-bar-w: var(--top-container-h);
    --main-header-h: 182px;

    /* Palette */
    --color-primary: #1b72e8;
    --color-primary-dark: #0c2339;
}

/* COMMON */
.white-font{
    color: white;
}

/* TOP CONTAINER */
#top-container{
    height: var(--top-container-h);

    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}



/* MAIN CONTAINER */
#main-container{
    height: calc(100vh - var(--top-container-h));

    display: flex;
}

/* Side Bar */
#side-bar{
    height: 100%;
    width: var(--side-bar-w);

    background-color: var(--color-primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* icons align */
#side-bar .col-12{
    text-align: center;
}

/* Main */
main{
    height: 100%;
    width: calc(100vw - var(--side-bar-w));
}
main>header{
    height: var(--main-header-h);

    background-color: var(--color-primary);
}

/* main tabs */
.my_tab{
    border: 1px solid gray;
    border-radius: 7px;
}